<div class="row">
  <h1 class="mx-auto text-center pb-2 font-weight-bold main-header"> Welcome to Philly!</h1>
  <h3 class="mx-auto text-center pt-2 pb-5">Your Guide to Places of Interest</h3>
</div>

<div class="row">
  <div class="col-12 col-lg-6 pb-5">
    <div class="card m-4">
      <%= image_tag 'thelogan.jpg', class: 'card-img-top' %>
      <div class="card-body">
        <h5 class="card-title">The Logan and Sheraton</h5>
        <p class="card-text">The Logan and Sheraton Hotels are located in Center City off the
          Ben Franklin Parkway. They're just outside the congested “grid” part of
          Center City, a bit greener and cleaner than the rest of Center City.
        </p>
        <%= link_to 'Go', logan_locations_path, class: 'btn btn-outline-warning mb-3' %>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6 pb-5">
    <div class="card m-4">
      <%= image_tag 'parkway.jpg', class: 'card-img-top' %>
      <div class="card-body">
        <h5 class="card-title">The Benjamin Franklin Parkway</h5>
        <p class="card-text">The Parkway is where museums are located and
          how you get to the Denison house in Fairmount on Sunday for brunch and
          Lloyd Hall/Azalea garden on Saturday for lunch/molkee. 20 min walk
        </p>
        <%= link_to 'Go', parkway_locations_path, class: 'btn btn-outline-warning mb-3' %>
      </div>
    </div>
  </div>


  <div class="col-12 col-lg-6">
    <div class="card m-4  ">
      <%= image_tag 'Yards.png', class: 'card-img-top' %>
      <div class="card-body">
        <h5 class="card-title">Rehearsal Dinner</h5>
        <p class="card-text">Friday 6:30pm at Yard's Brewing Co</p>
        <%= link_to 'Go', rehearsal_locations_path, class: 'btn btn-outline-warning mb-3' %>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="card m-4">
      <%= image_tag 'camden-county-boathouse-at-cooper-river-john-jack.jpg', class: 'card-img-top' %>
      <div class="card-body">
        <h5 class="card-title">The Wedding</h5>
        <p class="card-text">Saturday, August 4th at 5:30pm</p>
        <%= link_to 'Go', wedding_locations_path, class: 'btn btn-outline-warning mb-3' %>
      </div>
    </div>
  </div>
</div>

<div class="row text-center">
  <div class="col-12 col-lg-6 offset-lg-3">
    <div class="card m-4">
      <div class="card-body">
        <h5 class="card-title">Map</h5>
        <p class="card-text">Quick overview of where everything is located</p>
        <%= link_to 'Go', map_pages_path, class: 'btn btn-outline-warning mb-3' %>
      </div>
    </div>
  </div>
</div>
