<!-- <nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
    <a class="navbar-brand" href="#">Dave and Melissa's Wedding</a>
  </div>
  <ul class="nav navbar-nav">
      <li><a href="#">Friday</a></li>
      <li><a href="#">Saturday</a></li>
      <li><a href="#">Sunday</a></li>
    </ul>
  </div>
</nav> -->

<div class="jumbotron">
  <h1 class="display-4">Welcome to Philly!</h1>
  <p class="lead">Here's some information on things to do, wedding activities, food, etc.</p>
  <hr class="my-4">
  <p class="lead">
    <%= link_to 'The Logan', logan_path, class: 'btn btn-primary' %>
    <%= link_to 'Museums', museums_path, class: 'btn btn-primary' %>
    <%= link_to 'Food', food_path, class: 'btn btn-primary' %>
    <%= link_to 'Historic Activities', historic_path, class: 'btn btn-primary' %>
    <%= link_to 'Outdoor Activities', outdoor_path, class: 'btn btn-primary' %>
    <%= link_to 'Wedding Itinerary', itinerary_path, class: 'btn btn-primary' %>
  </p>
</div>

<div class="container">
  <h1>The Logan</h1>
</div>

<div class="container">
  <h1>Museums</h1>
</div>

<div class="container">
  <h1>Food</h1>
</div>

<div class="container">
  <h1>Historic Activities</h1>
</div>

<div class="container">
  <h1>Outdoor Activities</h1>
</div>

<div class="container">
  <h1>Wedding Itinerary</h1>
</div>
