<h1 class="mx-auto text-center pt-5 pb-5">Ben Franklin Parkway</h1>

<h2>Museums</h2>
  <div class="pt-2 pb-5">
    <ul class="list-unstyled">
      <li class="bold">The Barnes</li>
      <p>The Barnes Foundation is where the unique collection of art and artifacts is
        housed. It’s only available by appointment and often sells out on weekends,
         but lucky for you it’s FREE on first Sundays of the month and you just walk in.
         If you go early (10AM) you’ll get a great opportunity to walk through with minimal
         crowds. Plus you can pick up a pass to go back anytime during the day as many times
         as you want. You can get 4 tkts at a time so one person can go and get tkts for others.
         It’s WORTH IT! Not far from Hotel.</p>
      <%= link_to 'Visit', 'https://www.barnesfoundation.org/whats-on/peco-free-first-sunday-family-day-august', class: 'btn btn-outline-warning', target: '_blank', rel: 'noopener noreferrer' %>

      <li class="bold">The Rodin Museum</li>
      <p>The Rodin Museum is a bite-sized part of the Philadelphia Museum of Art. Like the Barnes,
        both the Rodin and the Museum of Art are also FREE on the first Sunday. We have a family
        membership so if you want to go on Saturday (probably less crowded than Sunday) let us
        know and you can take our member cards to get in free on Saturday or Sunday. WORTH IT!</p>
      <%= link_to 'Visit', 'http://www.rodinmuseum.org/', class: 'btn btn-outline-warning', target: '_blank', rel: 'noopener noreferrer' %>

      <li class="bold">The Rocky Statue</li>
      <p>The Rocky Statue and steps rival the Liberty Bell as THE tourist destination in Philly.
         It’s always a scene. It’s a mile away from the Logan Hotel so you’re hoofing it.
         The walk is shaded by trees but it can be hot, plus you need energy to run up those
         steps at the end and do the Rocky Shuffle at the top. Look for his footprints in the
         stone (Chuck Taylor imprints!). WORTH IT!</p>
      <%= link_to 'Visit', 'https://www.visitphilly.com/things-to-do/attractions/the-rocky-statue-and-the-rocky-steps/?gclid=EAIaIQobChMIzuv49piL3AIVBkwNCh0KpwyJEAAYASAAEgJf4fD_BwE', class: 'btn btn-outline-warning', target: '_blank', rel: 'noopener noreferrer' %>

      <li class="bold">The Azalea Garden</li>
      <p>The Azalea Garden is directly behind the Museum of Art and can be reached by
        walking along Kelly Drive to the right of the Museum of Art. It’s beautiful and cozy.
        This is where we’d play Molkkee if we can get enough people together for a game on
        Saturday.</p>
      <%= link_to 'Visit', 'https://myphillypark.org/explore/parks/azalea-garden/', class: 'btn btn-outline-warning', target: '_blank', rel: 'noopener noreferrer' %>

      <li class="bold">Lloyd Hall</li>
      <p>Lloyd Hall is right past the Azalea Garden. Stay tuned if we have a lunch buffet
        there on Saturday. It’s the first ‘boathouse’ on Kelly Drive. There’s a nice café
        there and here is where you could rent bikes to take a 8+ mile ride around the
        Schuylkill River. The Kelly Drive bike path side is kinda busy with joggers, etc.
        but the West Side is wide open and closed to traffic so it’s really a nice ride and
        it’s mostly shaded so not as hot. </p>
      <%= link_to 'Visit', 'https://schuylkillrivertrail.com/trail_heads/lloyd-hall/', class: 'btn btn-outline-warning', target: '_blank', rel: 'noopener noreferrer' %>

      <li class="bold">Eastern State Penitentiary</li>
      <p>This historic prison was once considered an innovation in incarceration back in the 1800s. It closed in the
      1970s. Al Capone once stayed there. (I have a good story about him from a friend whose mobster
      grandfather knew Capone!) The tour is quite good and the non-profit has changed focus to consider
      current prison issues with relevant exhibits. WORTH IT!</p>
      <%= link_to 'Visit', 'https://www.easternstate.org/', class: 'btn btn-outline-warning', target: '_blank', rel: 'noopener noreferrer' %>

      <li class="bold">2506 Brown Street</li>
      <p>Our house is at 25th and Brown Street. We’re three blocks up from Kelly Drive
        (it’s a hill up to our house). Just take a right off Kelly Drive at the gleaming
        gold statue of Joan of Arc. Cross a few streets… head up 25th street, past Aspen
        Street and the next street is Brown. We’re the first house on the left side of
        the street after taking a left off 25th street.</p>
    </ul>
</div>
