<!DOCTYPE html>
<html>
  <head>
    <title>PhiladelphiaWedding</title>
    <meta name="viewport" content="width=device-width" initial-scale="1" shrink-to-fit="no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-light bg-light border-bottom">
      <%= link_to "Philly Wedding", root_path, class: 'navbar-brand' %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to 'Locations', locations_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Schedule', schedule_pages_path, class: 'nav-link' %>
        </li>
      </ul>
    </nav>

    <main class="container-fluid">
      <%= content_for?(:main) ? yield(:main) : yield %>
    </main>
    <!-- footer -->
  </body>
</html>
