<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>PhiladelphiaWedding</title>
    <meta name="viewport" content="width=device-width" initial-scale="1" shrink-to-fit="no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar fixed-top navbar-expand navbar-light bg-light border-bottom">
      <%= link_to "Melissa and Dave", root_path, class: 'navbar-brand' %>

      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown bold">
          <%= link_to 'Locations', "#", class: 'nav-link dropdown-toggle', id: "navbarDropdown", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false" %>
          <div class="tr-l-50 dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'The Logan', logan_locations_path, class: 'nav-link dropdown-item muted' %>
            <%= link_to 'Parkway', parkway_locations_path, class: 'nav-link dropdown-item muted' %>
            <%= link_to 'Rehearsal Dinner', rehearsal_locations_path, class: 'nav-link dropdown-item muted' %>
            <%= link_to 'Wedding', wedding_locations_path, class: 'nav-link dropdown-item muted' %>
            <%= link_to 'Map', map_pages_path, class: 'nav-link dropdown-item muted' %>
          </div>
        </li>
      </ul>
    </nav>

    <%= content_for?(:banner_img) ? yield(:banner_img) : nil %>
    <main class="container">
      <%= yield %>
    </main>
    <!-- footer -->
  </body>
</html>
