<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? "Denison Wedding - #{yield(:title)}" : "Denison Wedding" %></title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <meta name="viewport" content="width=device-width" initial-scale="1" shrink-to-fit="no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar fixed-top navbar-expand navbar-light bg-light border-bottom">
      <%= link_to "Melissa and Dave", root_path, class: 'navbar-brand' %>

      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown bold">
          <%= link_to 'Locations', "#", class: 'nav-link dropdown-toggle', id: "navbarDropdown", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false" %>
          <div class="tr-l-50 dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Hotels', hotels_locations_path, class: 'nav-link dropdown-item muted' %>
            <%= link_to 'Parkway', parkway_locations_path, class: 'nav-link dropdown-item muted' %>
            <%= link_to 'Rehearsal Dinner', rehearsal_locations_path, class: 'nav-link dropdown-item muted' %>
            <%= link_to 'Wedding', wedding_locations_path, class: 'nav-link dropdown-item muted' %>
            <%= link_to '/phillymap7.pdf', class: 'nav-link dropdown-item muted', target: '_blank', rel: "noopener noreferrer" do %>
              <%= "Map" %>
              <%= fa_icon "file-pdf-o" %>
            <% end %>
          </div>
        </li>
      </ul>
    </nav>

    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
