<!DOCTYPE html>
<html>
  <head>
    <title>PhiladelphiaWedding</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light static-top">
      <%= link_to "Dave and Melissa's Wedding", root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to 'Locations', locations_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Schedule', schedule_pages_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </nav>

    <%= yield %>
    <!-- footer -->
  </body>
</html>
